/* :global {*/ 
  canvas.typegpu-ccb9bff4bb { display: block; width: 100%; height: 100%; touch-action: none; }
  canvas.typegpu-ccb9bff4bb:focus-visible { outline: 2px solid #f1d264; outline-offset: -3px; }
 /*}*/